@media print {
    body {
        font-family: 'Times New Roman', serif; 
        line-height: 1.5; 
    }

    section {
        page-break-inside: avoid; 
        margin-bottom: 20px; 
    }

    img {
        max-width: 100%;
        height: auto; 
    }

    a {
        display: none; 
    }
    #services{
        display: none;
    }
}